<mat-card>
  <mat-card-title>Agendamento de Serviço</mat-card-title>
  <mat-card-content>
    <form (ngSubmit)="agendar()">
      <mat-form-field>
        <input matInput placeholder="Nome" [(ngModel)]="nome" name="nome" required>
      </mat-form-field>
      
      <mat-radio-group [(ngModel)]="servico" name="servico">
        <mat-radio-button value="corte">Corte de Cabelo</mat-radio-button>
        <mat-radio-button value="barba">Barba</mat-radio-button>
      </mat-radio-group>

      <mat-form-field>
        <mat-label>Escolha um horário</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="dataAgendamento" name="data">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Agendar</button>
    </form>
  </mat-card-content>
</mat-card>